
@{
    ViewData["Title"] = "EmailConfirmation";
    Layout = "~/Views/Shared/_LayoutCstom.cshtml";
}

<h2>EmailConfirmation</h2>
<div>
    @if(ViewBag.IsSuccess == true)
    {
        <p>Email confirm successfull</p>
    }
    <p>Deom</p>
   
    
</div>

